body {
	/*
		1em: 16px
	*/
}

.item {
	padding: 0 1.5em; /* 0 24px */

	&:hover {
		background-color: #eeeeee;
	}
	
	h1 {
		font-size: 1.5em; /* 24px */
		font-weight: normal;
		margin: 0;
		padding: .5em 0; /* 12px 0*/
	}
	
	.body {
		display: none;
		padding-bottom: 1em;
	}
	
	img {
		height: auto;
		max-width: 100%;
		width: auto;
	}
}

@media screen and (min-width: 1024px) {
	
	.item {
		h1, .body {
			margin: auto;
			width: 990px;
		}
	}
	
}