RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

AuthType Basic
AuthName "Flow RSS"
AuthUserFile /var/www/flow-rss.com/home/htdocs/.htpasswd
Require valid-user
